/*Main.css for react website query*/

html, body { 
	height:100%;
	margin: 0;
	padding: 0;
}

.input-group{
	margin: 20px 0px;
}

/*.loader{
	position: fixed;
	background-color: rgba(204,204,204, 0.8);
}*/

li .glyphicon{
	margin-right: 5px;
}

.loading{
	width: 14px;
	height: 14px;

	background-image: url("../img/ajax-loader14x14.gif");
}